/*************************
Button and screen styles
*************************/
html{
	min-height:100%;
}

body{

	margin:0;
	padding:0 0;
	/*background-image:url("congruent_pentagon.png");*/
	/*background-image:url("office.png");*/
	/*background-image:url("subtle.png");*/
	background-image:url("psychedelic.png");
}

#alert{
	z-index:10;
	-webkit-transition: All .5s ease;
	-moz-transition: All .5s ease;
	-o-transition: All .5s ease;
	-ms-transition: All .5s ease;
	transition: All .5s ease;
	position:absolute;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */	
	top:10px;
	right:10px;
	color:white;
	font-family:Roboto;
	font-size:20px;
	font-weight:300;
	padding:30px;
	border-radius:5px;
	visibility:hidden;
	opacity:0;
}

#exc{

	font-weight:800;
	color:white;
	display:inline-block;
	margin-right:20px;
	width:35px;
	height:35px;
	background-color:#EA8475;
	border-radius:50%;
	text-align:center;
	
}

#check{
	font-weight:800;
	color:white;
	display:inline-block;
	margin-right:20px;
	width:35px;
	height:35px;
	background-color:#96c56f;
	border-radius:50%;
	text-align:center;

}

#cls{

	font-weight:800;
	color:white;
	position:absolute;
	top:3px;
	right:10px;
	cursor:pointer;
	cursor:hand;
}

#cls:hover{

	opacity:.5;

}

#marg{

	margin-top:4px;

}

#content{
	-webkit-transition: All .5s ease;
	-moz-transition: All .5s ease;
	-o-transition: All .5s ease;
	-ms-transition: All .5s ease;
	transition: All .5s ease;
	background-color:#FFF;
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	margin:auto;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

#clickme{
	
	font-family:Roboto;
	font-weight:300;
	text-align:center;
	-webkit-transition: All .5s ease;
	-moz-transition: All .5s ease;
	-o-transition: All .5s ease;
	-ms-transition: All .5s ease;
	transition: All .5s ease;
	cursor:pointer;
	cursor:hand;
	background-color:#7db9e8;
	color:#FFF;
	width:120px;
	height:40px;
	border-radius:5px;
	border:1px solid #888;
	/*center of page*/
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
}

#screen{
	-webkit-transition: All .5s ease;
	-moz-transition: All .5s ease;
	-o-transition: All .5s ease;
	-ms-transition: All .5s ease;
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0;
	visibility:hidden;
}

.text{

	display:block;
	margin-top:10px;

}

#clickme:hover{

	background-color:#9EC6E5;
	
}

/*************************
Popup Notification Styles
*************************/

#notification{
	-webkit-transition: All .5s ease;
	-moz-transition: All .5s ease;
	-o-transition: All .5s ease;
	-ms-transition: All .5s ease;
	transition: All .5s ease;
	color:#444;
	font-family:Roboto;
	font-weight:300;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	z-index:2;
	width:700px;
	height:580px;
	background-color:#F5F5F5;
	opacity:0;
	visibility:hidden;
 
	/*border: solid 1px #000;*/
}

.menuText{
	display:block;
	text-align:center;
	padding-bottom:5px;
}

#line1{
	padding-top:10px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
	font-weight:500;
	color:white;
	margin-top:-35px;
	padding-left:45px;
	text-align:left;
}

#close{

	font-family:Roboto;
	font-weight:300;
	text-align:center;
	-webkit-transition: All .5s ease;
	-moz-transition: All .5s ease;
	-o-transition: All .5s ease;
	-ms-transition: All .5s ease;
	transition: All .5s ease;
	cursor:pointer;
	cursor:hand;
	background-color:#EA8475;
	color:#FFF;
	width:120px;
	height:40px;
	border-radius:5px;
	position:absolute;
	left:180px;
	bottom:30px;
	z-index:1;
	margin:auto;
	border:1px solid #888;

}

#add{

	font-family:Roboto;
	font-weight:300;
	text-align:center;
	-webkit-transition: All .5s ease;
	-moz-transition: All .5s ease;
	-o-transition: All .5s ease;
	-ms-transition: All .5s ease;
	transition: All .5s ease;
	cursor:pointer;
	cursor:hand;
	background-color:#96c56f;
	color:#FFF;
	width:120px;
	height:40px;
	border-radius:5px;
	position:absolute;
	z-index:1;
	bottom:30px;
	left:45px;
	margin:auto;
	border:1px solid #888;
	
}

#close:hover{

	background-color:#E8A096;
	
}

#add:hover{

	background-color:#A9C491;

}

#coverPhoto{

	background-image:url("congruent_pentagon.png");
	height:100px;
	width:100%;

}

#notiFoot{
	margin-top:20px;
	background-color:white;
	height:100px;
	width:100%;
	position: absolute; 
    bottom: 0;
	
}
/*************************
form stuff
*************************/
.ui-autocomplete {
	appearance:none !important;
	font-family:Roboto !important;
	font-size: 13px !important;
	
	margin:0 !important;
	
}

.ui-corner-all{
	border-radius:0 !important;

}

hr{
	opacity:.5;
	border:0;
	height:1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);

}

#locationIcon{
	
	background-image:url("location.png");
	background-image:no-repeat;
	width:15px;
	height:20px;
	position:absolute;
	z-index:1;
	background-size: cover;
	margin-left:50px;
	margin-top:270px;

}

#companyExist{

	background-image:no-repeat;
	width:20px;
	height:20px;
	position:absolute;
	z-index:1;
	background-size: cover;
	right:52px;
	margin-top:32px;
	cursor:pointer;
	cursor:hand;
}

.helpIcon{
	cursor:pointer;
	cursor:hand;
	background-image:url("help.png");
	background-image:no-repeat;
	width:20px;
	height:20px;
	position:absolute;
	z-index:1;
	background-size: cover;
	margin-left:50px;
	
}

#location1{
	margin-top:138px;
}

#location2{
	margin-top:313px;
}

#location3{
	margin-top:226px;
}


input[type=search]{
  -webkit-appearance: none !important;
}

input[type=text] {
    box-sizing: border-box;
}

input,select{
	padding:5px 0 5px 5px;
	display: inline-block;
	
	width:295px;
	font-family:Roboto;
	margin-bottom:10px;
}

form{

	margin:auto;
	padding-top:25px;
	width:610px;

}

#companyName{

	width:100%;
	padding-right:33px;
}

#geocomplete{
	width:100%;
	padding-left:25px;
}

#createdBy{
	
	width:100%;
	padding-left:25px;
}

#companyWebsite, #siteName, #phoneExt, #sitePhone{

	float:right !important;

}

#sitePhone{

	width:200px;
	margin-right:15px;
}

#phoneExt{

	width:80px;
	
}

#companyVAT{

	padding-left:28px;
}

.bootstrap-tagsinput {
	appearance:none !important;
	-webkit-appearance: none !important;
	width:295px !important;
	padding:5px 0 5px 5px !important;
	height:32px !important;
	border-radius:0 !important;
	box-shadow:none !important;
	box-sizing: border-box !important;
	display: inline-block !important;
	margin-bottom:10px !important;
	vertical-align:baseline !important;
	float:left !important;
	line-height:0 !important;
	margin-top: 1px:!important;
	overflow:hidden;
	margin-top:2px;
	padding-left:28px !important;
}

.label-info{

	background-color:#7db9e8;
	border-radius:5px;
	font-size:10px;
	padding:5px;
}


/*************************
footer stuff
*************************/
#footer{

	font-size:15px;
	font-family:Roboto;
	font-weight:300;
	position:absolute;
	width:100%;
	text-align:center;
	bottom:10px;
	color:#555;
	
}